.Join_us_container{
    padding-top:80px;
    .join_us_wrapper{
       background:  linear-gradient(255deg, rgb(14, 13, 16) 6%, rgb(36, 32, 49) 36%, rgb(37, 33, 51) 50%, rgb(35, 31, 48) 81%, rgb(14, 13, 16) 98%, rgb(9, 9, 9) 100%);
       border-radius: 38px;
       .join_us_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:60px;
        color:white;
        h1{
            
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 20px;
        }
        img{
            max-width: 100%;
            width: 375px;
        }
        p{
             padding-top: 20px;
             font-size:35px;
             color: #c9c9d0;
             font-family: 'Montserrat', sans-serif;
             padding-bottom: 20px;

        }
        .row_1{
            display: flex;
            align-items: center;
            input{
                margin:20px;
                max-width: 100%;
                width: 500px;
                border-radius: 90px;
                background:linear-gradient(255deg, rgb(14, 13, 16) 6%, rgb(36, 32, 49) 36%, rgb(37, 33, 51) 50%, rgb(35, 31, 48) 81%, rgb(14, 13, 16) 98%, rgb(9, 9, 9) 100%); ;
                border: 1px solid white ;
                height: 55px;
                padding-left:20px;
                color: white;
                font-size: 13px;
                
            }
            ::placeholder{
                color: white;
                padding-left: 20px;
            }

        }
        .row_2{
            @extend .row_1;
           input{
            max-width: 100%;
            width: 1050px;
           }
        }
        .row_3{
            textarea{
                margin: 20px;
                max-width: 100%;
                width: 1045px;
                border-radius: 31px;
                background: linear-gradient(255deg, rgb(14, 13, 16) 6%, rgb(36, 32, 49) 36%, rgb(37, 33, 51) 50%, rgb(35, 31, 48) 81%, rgb(14, 13, 16) 98%, rgb(9, 9, 9) 100%);
                border: 1px solid white;
                height: 208px;
                padding-left: 20px;
                color: white;
                font-size: 13px;
                padding: 20px;
            }
        }
        .vr_button{
           padding:30px;
           padding-bottom: 70px;
            button {
              border-radius: 20px;
              width:300px;
              padding-right: 40px;
              padding-left: 40px;
              padding-top: 10px;
              padding-bottom: 10px;
              border: 1px solid #c0b8e9;
              background: rgb(138, 125, 183);
              background: linear-gradient(
                74deg,
                rgba(138, 125, 183, 1) 67%,
                rgba(252, 249, 249, 1) 98%
              );
              color: rgb(4, 4, 4);
              font-family: var(--font-family);
              font-size: 18px;
          }
        }
       }
    }

}

@media  screen and (max-width:700px) {
    .Join_us_container{
        .join_us_wrapper{
           .join_us_form{
            img{
                max-width: 100%;
                width: 200px;
            }
            p{
                 padding-top: 20px;
                 font-size:20px;
                 text-align: center;
                 width: 190px;
    
            }
            .row_1{
                flex-flow: column;
                input{
                    margin:20px;
                    max-width: 100%;
                    width: 300px;
                }
            
            }
            .row_2{
                @extend .row_1;
                flex-flow: column;
               input{
                width: 300px;
                
               }
            }
            .row_3{
                textarea{
                    width: 300px;
            
                }
                ::placeholder{
                    color: white;
                }
            }
           }
        }
    
    }
}