.navbar_container {
  .navbar_wrapper {
    display: flex;
    align-items: center;
    .nav_logo {
      display: flex;
      align-items: center;
      width: 29%;
      .img1 {
        margin: 10px;
        width: 62px;
        height: 60px;
      }
      .img2 {
        width: 61px;
        height: 45px;
      }
    }
    .menu_links {
    }
    .nav_links {
      width: 42%;
      .nav_list {
        width: 100%;
        display: flex;
        list-style-type: none;
        li {
          padding-right: 55px;
          color: #ffff;
          font-weight: 800px;
          font-family: var(--font-family);
          font-size: 12px;
        }
      }
    }
    .nav_buttons {
      .button_wrapper {
        display: flex;
        align-items: center;
        .button1 {
          border-radius: 20px;
          background-color: #2f2c42;
          padding-right: 46px;
          padding-left: 42px;
          padding-top: 10px;
          padding-bottom: 10px;
          border: 1px solid white;
          color: white;
          margin-right: 30px;
          font-family: var(--font-family);
          font-size: 10px;
        }
        .button2 {
          @extend .button1;
          background: rgb(138, 125, 183);
          background: linear-gradient(
            74deg,
            rgba(138, 125, 183, 1) 67%,
            rgba(252, 249, 249, 1) 98%
          );
          color: rgb(4, 4, 4);
          margin-right: 0px;
        }
      }
    }
  }
  .menu_container {
    position: relative;
    // height: 100px;
    // width: 100px;

    .menu_wrapper {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: end;
      background: rgb(138, 125, 183);
      background: linear-gradient(
        74deg,
        rgba(138, 125, 183, 1) 67%,
        rgba(252, 249, 249, 1) 98%
      );
      padding: 2rem;

      position: absolute;
      right: 20px;
      box-shadow: 0 0 5;
      ul {
        list-style-type: none;
        li {
          padding-bottom: 12px;
          color: #ffff;
          font-weight: 800px;
          font-family: var(--font-family);
          font-size: 12px;
        }
      }
      .nav_buttons {
        .button_wrapper {
          display: flex;
          flex-direction: column;
          .button1 {
            border-radius: 20px;
            background-color: #2f2c42;
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px solid white;
            color: white;
            margin-bottom: 5px;
            font-family: var(--font-family);
            font-size: 10px;
          }
        }
      }
    }
  }
}

// @media screen and (max-width:1624px) {
//     svg{
//         display:none;
//     }
// }
@media screen and (max-width: 600px) {
  .navbar_container {
    .navbar_wrapper {
      display: flex;
      align-items: center;
      svg {
        width: 60px;
        height: 60px;
      }
      .nav_logo {
        display: flex;
        align-items: center;
        width: 100%;
        .img1 {
          margin: 10px;
          width: 50px;
          height: 50px;
        }
        .img2 {
          width: 50px;
          height: 26px;
        }
      }
      .nav_links {
        .nav_list {
          display: none;
        }
      }
      .nav_buttons {
        .button_wrapper {
          display: none;
        }
      }
    }
  }
}
@media screen and (min-width: 700px) and (max-width: 930px) {
  .navbar_container {
    .navbar_wrapper {
      .nav_logo {
        width: 51%;
      }
      .nav_links {
        display: none;
      }
      .nav_buttons {
        padding-right: 20px;
      }
    }
    .menu_container{
        .menu_wrapper{
            right:75px;
            .nav_buttons{
                display: none;
            }
        }
    }
  }
}
@media screen and (min-width: 970px) and (max-width: 1500px) {
  .navbar_container{
  .navbar_wrapper{
  svg{
      display: none;
}
  }
}
}
